* {
  box-sizing: border-box;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  height: 100vh;
  padding: 20px 30px;
}

.welcome-card {
  width: 300px;
  height: fit-content;
  margin: auto;
  padding: 30px;
  flex-direction: column;
}

.mat-mdc-card-header {
  padding: 0;
  margin-bottom: 2vh;
}

.welcome-title {
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 1vh;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
}

.mdc-card__actions {
  padding: 0px !important;
}