:root {
  --backgroundColor: #0f120e;
  --cardColor: #1a1d1a;
  --textColor: #fff;
  --buttonMainColor: #3c50fa;
  --textSubtitleColor: #cbcaca;
  --boxShadowColor: #4c4c4c;
}

* {
  box-sizing: border-box;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px 30px;
  background-color: var(--backgroundColor);
}

.welcome-card {
  max-width: 700px;
  margin: auto;
  padding: 30px;
  flex-direction: column;
  color: var(--textColor);
  background-color: var(--cardColor);
}

.mat-mdc-card-header {
  padding: 0;
  margin-bottom: 2vh;
}

.welcome-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

.welcome-subtitle {
  color: var(--textSubtitleColor);
  font-family: "Poppins", sans-serif;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

button {
  color: var(--textColor) !important;
  background-color: var(--buttonMainColor) !important;
}
