* {
  box-sizing: border-box;
}

.movies-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 20px 20px;
  justify-content: center;
  padding-block: 30px;
}

mat-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
}

mat-card-header {
  padding: 15px;
}

mat-card-title {
  font-weight: 700;
}

img {
  height: 70%;
  object-fit: contain;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

mat-card-actions button {
  flex-grow: 1;
}

.icon-button {
  padding: 0px;
  background: none;
  border: none;
}

mat-icon {
  margin: 0px !important;
  color: #e91e63;
}

mat-icon:hover {
  color: #e37fa1;
}

