/* CSS */
:root {
  --backgroundColor: #0f120e;
  --cardColor: #1a1d1a;
  --textColor: #fff;
  --buttonMainColor: #3c50fa;
  --textSubtitleColor: #cbcaca;
  --boxShadowColor: #4c4c4c;
}

* {
  /* color: whitesmoke; */
  font-size: 16px;
}

mat-toolbar {
  background-color: var(--cardColor);
  color: var(--textColor);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 25px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.3);
}

.nav-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  margin-right: 30px;
}
