
* {
  font-size: 16px;
}

mat-toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #cbcaca74;
}

.nav-logo {
  font-weight: 700;
  font-size: xx-large;
  margin-right: 30px;
}
