<app-nav-bar></app-nav-bar>
<div style="display: flex;" class="user-profile">
  <div class="user-profile-cards">
    <mat-card class="user-update-card">
      <mat-card-header class="update-header">
        <mat-card-title>Update user information</mat-card-title>
      </mat-card-header>
      <mat-card-content class="update-card">
        <form class="update-input-container" #updateForm="ngForm" (ngSubmit)="updateUserData()">
          <mat-form-field class="update-input">
            <input matInput [(ngModel)]="updatedUser.username" placeholder="Username" type="text" name="Username"
              required>
          </mat-form-field>
          <mat-form-field class="update-input">
            <input matInput [(ngModel)]="updatedUser.password" placeholder="Password" type="password" name="Password"
              required>
          </mat-form-field>
          <mat-form-field class="update-input">
            <input matInput [(ngModel)]="updatedUser.email" placeholder="Email" value={{user.Email}} type="email"
              name="Email" required>
          </mat-form-field>
          <mat-form-field class="update-input">
            <input matInput [(ngModel)]="updatedUser.birthday" placeholder="Birthday" type="date" name="Birthday">
          </mat-form-field>
          <div class="error-message" *ngIf="updateForm.invalid && (updateForm.dirty || updateForm.touched)">
            Please fill out all fields.
          </div>
          <mat-card-actions>
            <button style="margin-right: 10px;" mat-raised-button [disabled]="updateForm.invalid" type="submit"
              color="primary">Update</button>
            <button mat-raised-button (click)="deleteUser()" mat-raised-button color="warn">Delete account</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
